body, html {
    margin: 0;
    background-color: #E5E5E5;
    font-family: "Poppins";
    min-width: 805px;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

button {
    all: unset;
    cursor: pointer;
}

header {
    background-image: url("../img/main_screen.jpg");
    background-size: cover;
    height: 952px;
    width: 100%;
    color: white;
}

.header-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 82%;
    position: relative;
    left: 9%;
    flex-wrap: wrap;
    height: fit-content;
    padding-top: 20px;
}

.treloo_caption {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
}

.top-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.top-nav-link {
    display: flex;
    border-radius: 7px;
    width: 141px;
    height: 65px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.top-nav-link:hover {
    background-color: white;
    color: #3E86F5;
}

button.top-nav-link {
    background-color: white;
    color: #3E86F5;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}


.big-motto {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    text-align: center;
    margin-top: 150px;
}

.under-motto {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    margin-top: 40px;
}

.flight-hotel {
    display: flex;
    flex-direction: column;
    /*width: 70%;*/
    width: 82vw;
    position: relative;
    top: -130px;
    left: 9vw;
}

.flight-hotel-tab {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 70px;
    width: 16vw;
    min-width: 150px;
    max-width: 250px;
    padding: 10px;
    border-radius: 25px 25px 0 0;
    background-color: white;
}

.flight-hotel-tab button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 70px;
    width: 47%;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 10px 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.flight-hotel-tab button:hover {
    background-color: #3E86F533;
}

.flight-hotel-tab img {
    height: 25px;
    width: 25px;
}

.flight-hotel-tab span {
    font-size: 16px;
    width: 40px;
}

.flight-hotel-choice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 40px 45px 60px;
    width: 100%;
    height: fit-content;
    position: relative;
    background-color: white;
    border-radius: 0 25px 25px 25px;
    min-width: 575px;
}

.flight-hotel-choice label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85px;
    margin-bottom: 20px;
    font-size: 18px;
}

.flight-hotel-choice button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E86F5CC;
}

.flight-hotel-choice select, input {
    border: unset;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.circled-img {
    border-radius: 100%;
    border: 1px dashed grey;
    width: 30px;
    height: 30px;
    padding: 4px;
    margin: 0 15px;
}

.return-plane {
    rotate: 180deg;
}

.tab-plane {
    rotate: 315deg;
}

.origin-destination {
    display: flex;
    height: 155px;
    min-width: fit-content;
    width: 32%;
    border-radius: 20px;
    border: 1px solid grey;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 25px;
    margin-top: 20px;
    margin-right: 10px;
}

.from-to {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flight-dates {
    display: flex;
    height: 155px;
    min-width: fit-content;
    width: 47%;
    border-radius: 20px;
    border: 1px solid grey;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 25px;
    margin-top: 20px;
    margin-right: 10px;
}

.search-btn {
    display: inline-block;
    height: 155px;
    width: 155px;
    border-radius: 40%;
    margin-top: 20px;
}

.special-upcoming-offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 82vw;
    position: relative;
    left: 9vw;
    min-width: 370px;
}

.special-upcoming-offers h1 {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    margin-bottom: 80px;
}

.special-offers-tab {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 66px;
    width: 340px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

.special-offers-tab button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 100px;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.5);
}

.special-offers-tab button:hover {
    background-color: #3E86F5;
    color: white;
}

div.special-offer-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: center;
    position: relative;
    width: 100%;
}

.special-offer {
    display: flex;
    width: 380px;
    height: 457px;
    min-width: 380px;
    margin-top: 50px;
    margin-right: 10px;
    position: relative;
    background-color: white;
    border-radius: 50px;
}

.special-offer figure {
    margin: 0;
    position: absolute;
    top: 21px;
    left: 27px;
    border-radius: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.special-offer img {
    margin-bottom: 10px;
    width: 293px;
    height: 273px;
}

.special-offer figcaption span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.5);
}

.special-offer figcaption {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.special-offer figcaption span.type{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21px;
    border-radius: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin-right: 5px;
}

.special-offer figcaption span.type.adventure {
    color: #7879F1;
    background-color: #F1F1FD;
    width: 104px;
}

.special-offer figcaption span.type.relax {
    color: #F178B6;
    background-color: #FCDDEC;
    width: 69px;
}

.offer-date {
    transform: rotate(90deg);
    position: absolute;
    left: 245px;
    top: 145px;
    width: 208px;
    height: 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.5em;
    color: rgba(0, 0, 0, 0.5);
}

.loc-name {
    position: absolute;
    left: 30px;
    top: 340px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.price {
    position: absolute;
    left: 30px;
    top: 385px;
    font-size: 18px;
}

.price strong {
    font-size: 24px;
}

.special-offer-wrapper button {
    position: absolute;
    top: 380px;
    left: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 50px;
    border-radius: 10px;
    background-color: #F2F6FF;
    color: blue;
}

.special-offer-wrapper button:hover {
    background-color: #c0d2fa;
}

.travel-with-us {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 240px;
    margin-bottom: 200px;
    margin-left: 50px;
    width: 82vw;
    left: 9vw;
    justify-content: center;
    align-items: center;
}

.aman {
    position: absolute;
    top: 0;
    left: 0;
}

.cliffs {
    display: flex;
    position: relative;
    align-self: flex-start;
    width: 600px;
    height: 800px;
}

.badge {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 120px;
    background-color: white;
    border-radius: 35px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
}

.badge span {
    color: #3E86F5;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
}

.b1 {
    top: 56px;
    left: 400px;
}

.b2 {
    top: 377px;
    left: -94px;
}

.b3 {
    top: 537px;
    left: 400px;
}

.travel-with-us .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: calc(100% - 600px);
    height: fit-content;
    max-height: 800px;
    justify-self: flex-start;
    min-width: 412px;
    max-width: 735px;
}

.text-wrapper h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 0;
    text-align: left;
}

.text-wrapper p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: rgba(0, 0, 0, 0.5);
    text-align: justify;
}

.text-wrapper button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 75px;
    background-color: #3E86F5;
    border-radius: 10px;
    color: white;
}

.recommended-destinations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 82vw;
    position: relative;
    left: 9vw;

}

.recommended-destinations h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}

.recommended-dest-tab {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    width: 390px;
    margin: auto auto 50px;
    background-color: transparent;
    border-radius: 10px;
}

.recommended-dest-tab button {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 120px;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.5);
}

.recommended-dest-tab button:hover {
    color: #3E86F5;
}

.dst-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: fit-content;
    margin-top: 40px;
    margin-bottom: 330px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.recommended-destination {
    display: flex;
    position: relative;
    width: 280px;
    height: 293px;
    background-color: white;
    border-radius: 25px;
    margin-top: 10px;
    margin-right: 10px;
}

.recommended-destination .recomm {
    margin: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.recommended-destination .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25px;
    left: 200px;
    width: 55px;
    height: 20px;
    background-color: white;
    border-radius: 25px;
    font-size: 12px;
}

.loc-nam {
    position: absolute;
    font-size: 18px;
    top: 225px;
    left: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.rec-loc {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    top: 255px;
    left: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.5);
}

.reviews-sec {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 82vw;
    position: relative;
    left: 9vw;
}

.reviews-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 45%;
    background-color: white;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 36px 25px 0;
    min-width: 310px;
    margin-right: 10px;
    margin-bottom: 70px;
}

.review p {
    display: flex;
    position: relative;
    top: -80px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
}

.rev-name {
    color: #3E86F5;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    position: relative;
    top: -80px;
}

.happy-tr {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: -60px;
}

.reviewer {
    position: relative;
    margin-top: -100px;
    top: 55px;
}

.reviewer div {
    position: absolute;
    top: 7px;
    left: 67px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    width: 45px;
    height: 20px;
    border-radius: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.review-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(62, 134, 245, 0.5);
    border-radius: 15px;
}

.arrows-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.review-arrow.l img {
    rotate: 180deg;
}

.discount-offer {
    display: flex;
    width: 82vw;
    position: relative;
    left: 9vw;
    margin-top: 145px;
    margin-bottom: 120px;
}

.offer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    min-height: 500px;
    background-image: url("../img/special_offer_background.svg");
    background-size: cover;
    color: white;
    border-radius: 100px;
    min-width: 490px;
    box-sizing: border-box;
    padding: 0px 30px 0px;
}

.offer-content h1 {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}

.offer-content button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 80px;
    background-color: white;
    color: #3E86F5;
    border-radius: 25px;
    margin-bottom: 10px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 82vw;
    position: relative;
    left: 9vw;
    margin-bottom: 20px;
}

.all-rights-reserved {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.bottom-nav {
    display: flex;
    width: 360px;
    justify-content: space-between;
    height: fit-content;
    margin-left: 20px;
}

.bottom-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.75);
}
